<html>
<head>
	<link type="text/css" href="copyright.css" rel="stylesheet">
	<title></title>
</head>
<body>
<div class="copyright">上海市普陀分局备案编号110105014669&nbsp;&nbsp;|&nbsp;&nbsp;沪ICP证070359号&nbsp;&nbsp;|&nbsp;&nbsp;互联网玩具信息服务资格证编号(京)-非经营性-2011-0034<br><a target="_blank" href="http://misc.360buyimg.com/skin/df/i/com/f_music.jpg" rel="nofollow">音像制品经营许可证苏宿批005号</a>&nbsp;&nbsp;|&nbsp;&nbsp;出版物经营许可证编号新出发(苏)批字第N-012号&nbsp;&nbsp;|&nbsp;&nbsp;互联网出版许可证编号新出网证(京)字150号<br>Copyright©2013-2013&nbsp;&nbsp;春安商城chun-an.ecnu.edu.cn&nbsp;版权所有<br>华东师范大学旗下网站：<a href="http://mymetaphor.info/" target="_blank">Chou Chiang个网</a>&nbsp;&nbsp;<a href="http://www.ecnu.edu.cn/" target="_blank">学校官网</a>&nbsp;&nbsp;<a target="_blank" href="http://english.ecnu.edu.cn/">English Site</a></div>

<div class="authentication">
	<a href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202007080200026" target="_blank" rel="nofollow"><img width="108" height="40" alt="经营性网站备案中心" src="copy1.gif" class="err-product"></a> 
	<a href="https://ss.cnnic.cn/verifyseal.dll?sn=2008070300100000031&amp;ct=df&amp;pa=294005" tabindex="-1" id="urlknet" target="_blank" rel="nofollow"> <img alt="可信网站" name="CNNIC_seal" border="true" width="108" height="40" oncontextmenu="return false;" onclick="CNNIC_change('urlknet')" src="copy4.gif" class="err-product"></a>
	<a href="http://www.bj.cyberpolice.cn/index.do" target="_blank" rel="nofollow"><img width="108" height="40" alt="朝阳网络警察" src="copy2.png" class="err-product"></a>
	<a href="https://search.szfw.org/cert/l/CX20120111001803001836" target="_blank" rel="nofollow"><img width="112" height="40" src="copy3.png" class="err-product"></a>
</div>

</body>
</html>
